* {
    margin:0;
    padding:0;
    outline:none;
    box-sizing:border-box;
  
    background:transparent;
  
    text-decoration:none;
    font-family:inherit;
  }

ol, 
ul, 
li {
  display:block;
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a{
  cursor: pointer; 
  color: inherit;
}

textarea{
  resize: none;
}


body {
  background: rgb(96,212,121);
  background: linear-gradient(0deg, rgb(3, 182, 143) 0%, rgba(125,164,241,1) 100%);
}

#root {
  width: 50vw;
  min-height: 97vh;
  width: 700px;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
}
#form {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  box-shadow: 30px 30px 30px black;
  overflow: hidden;
}
#form2 {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  box-shadow: 30px 30px 30px black;
  overflow: hidden;
}




#form .reg {
  width: 100%;
  margin: 0;
  background-color: rgb(54, 54, 54);
  h1{
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: white;
  }
}


/* #form .file {
  width: 80%;
  margin: 30px auto;

  label{
    display: block;
    margin-left: 190px;
    padding: 80px 25px;
    width: 200px;
    height: 200px;
    font-size: 1.6rem;
    font-weight: 600;
    border: 3px dashed black;
    border-radius: 10px;
    color: rgb(107, 107, 107);
    z-index: 10;
  }

  input[type=file]{
    display: none;
  }
} */




#form .text {
  width: 80%;
  margin: 30px auto;

  label{
    display: none;
  }

  input[type=text]{

    width: 100%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-style: hidden;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: white;
    &:focus {
      box-shadow: 0 0 8px rgb(175, 175, 175);
      &::placeholder {
        color: transparent;
      } 
    }
    &::placeholder { 
      color: rgb(150, 149, 149);
    }
  }
}


#form .email {
  width: 80%;
  margin: 30px auto;

  label{
    display: none;
  }

  input[type=email]{

    width: 100%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-style: hidden;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(88, 88, 88);
    background-color: white;
    &:focus {
      box-shadow: 0 0 8px rgb(179, 178, 178); 
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder { 
      color: rgb(150, 149, 149);
    }
  }
}



#form .password {
  width: 80%;
  margin: 30px auto;

  label{
    display: none;
  }

  input[type=password]{
    margin: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-style: hidden;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(88, 88, 88);
    background-color: white;
    &:focus {
      box-shadow: 0 0 8px rgb(179, 178, 178); 
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder { 
      color: rgb(150, 149, 149);
    }
  }
}



#form .checkbox {
  width: 80%;
  margin: 30px auto;

  label{
    display: inline-block;
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(107, 107, 107);
  }

  input[type=checkbox]{

    width: 28px;
    height: 18px;
    display: inline-block;
    background-color: white; 
    
  }
}


#form .select {
  width: 80%;
  margin: 30px auto;

  label{
    display: inline-block;
    padding-left: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(107, 107, 107);
  }

  select{

    width: 178px;
    height: 32px;
    background-color: white;
    padding-left: 23px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(107, 107, 107);
    border: none;
  }
}





#btn {
  display: block;
  margin: 50px auto;
  border:none;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: rgb(4, 136, 96);
  &:hover{
    background-color: rgb(26, 153, 115);
  }
}








/* required
<img />
reqiured="required"
reqiured=""
reqiured
Richárd Atom14:49
createInputElement
updateInputElement
Richárd Atom14:50
{
  updateType: "race",
  updateValue: "Ork"
}
select input event
updateDivElement({
  updateType: "race",
  updateValue: "Ork"
})
Richárd Atom14:51
CRUD */



#form div.file {
  position: relative;
  height: 180px;
  background-color: cadetblue;
  img{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width: 200px;
    height: 180px;
  }

  &::after {
    display: block;
    text-align:center;
    content: "Húzd ide a file-t, vagy kattints";
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  label{
    padding-top: 60px;
    display: block;
    text-align:center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    
  } 

  input[type="file"]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
  }
}


/* 
CRUD
Create
Read
Update
Delete
Richárd Atom14:53
handleDivElement
Richárd Atom15:27
URL.createObjectURL(event.target.files[0])
Richárd Atom15:29
https://developer.mozilla.org/en-US/docs/Web/API/FileReader */