* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  font-family: inherit;
}

ol,
ul,
li {
  display: block;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

body {
  background: #60d479;
  background: -webkit-gradient(linear, left bottom, left top, from(#03b68f), to(#7da4f1));
  background: linear-gradient(0deg, #03b68f 0%, #7da4f1 100%);
}

#root {
  width: 50vw;
  min-height: 97vh;
  width: 700px;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
}

#form {
  width: 100%;
  border-radius: 10px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 30px 30px 30px black;
          box-shadow: 30px 30px 30px black;
  overflow: hidden;
}

#form #reg {
  width: 100%;
  margin: 0;
  background-color: #363636;
}

#form #reg h1 {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  color: white;
}

#form #file {
  width: 80%;
  margin: 30px auto;
}

#form #file label {
  display: block;
  margin-left: 200px;
  padding: 80px 10px;
  width: 170px;
  height: 200px;
  font-size: 1.6rem;
  font-weight: 600;
  border: 2px dashed black;
  border-radius: 10px;
  color: #6b6b6b;
  z-index: 10;
}

#form #file input[type=file] {
  display: none;
}

#form #text {
  width: 80%;
  margin: 30px auto;
}

#form #text label {
  display: none;
}

#form #text input[type=text] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  outline: none;
  border-style: hidden;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: white;
}

#form #text input[type=text]:focus {
  -webkit-box-shadow: 0 0 8px #afafaf;
          box-shadow: 0 0 8px #afafaf;
}

#form #text input[type=text]:focus::-webkit-input-placeholder {
  color: transparent;
}

#form #text input[type=text]:focus:-ms-input-placeholder {
  color: transparent;
}

#form #text input[type=text]:focus::-ms-input-placeholder {
  color: transparent;
}

#form #text input[type=text]:focus::placeholder {
  color: transparent;
}

#form #text input[type=text]::-webkit-input-placeholder {
  color: #969595;
}

#form #text input[type=text]:-ms-input-placeholder {
  color: #969595;
}

#form #text input[type=text]::-ms-input-placeholder {
  color: #969595;
}

#form #text input[type=text]::placeholder {
  color: #969595;
}

#form #email {
  width: 80%;
  margin: 30px auto;
}

#form #email label {
  display: none;
}

#form #email input[type=email] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  outline: none;
  border-style: hidden;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #585858;
  background-color: white;
}

#form #email input[type=email]:focus {
  -webkit-box-shadow: 0 0 8px #b3b2b2;
          box-shadow: 0 0 8px #b3b2b2;
}

#form #email input[type=email]:focus::-webkit-input-placeholder {
  color: transparent;
}

#form #email input[type=email]:focus:-ms-input-placeholder {
  color: transparent;
}

#form #email input[type=email]:focus::-ms-input-placeholder {
  color: transparent;
}

#form #email input[type=email]:focus::placeholder {
  color: transparent;
}

#form #email input[type=email]::-webkit-input-placeholder {
  color: #969595;
}

#form #email input[type=email]:-ms-input-placeholder {
  color: #969595;
}

#form #email input[type=email]::-ms-input-placeholder {
  color: #969595;
}

#form #email input[type=email]::placeholder {
  color: #969595;
}

#form #password {
  width: 80%;
  margin: 30px auto;
}

#form #password label {
  display: none;
}

#form #password input[type=password] {
  margin: 0;
  width: 100%;
  padding: 10px 10px 10px 10px;
  outline: none;
  border-style: hidden;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #585858;
  background-color: white;
}

#form #password input[type=password]:focus {
  -webkit-box-shadow: 0 0 8px #b3b2b2;
          box-shadow: 0 0 8px #b3b2b2;
}

#form #password input[type=password]:focus::-webkit-input-placeholder {
  color: transparent;
}

#form #password input[type=password]:focus:-ms-input-placeholder {
  color: transparent;
}

#form #password input[type=password]:focus::-ms-input-placeholder {
  color: transparent;
}

#form #password input[type=password]:focus::placeholder {
  color: transparent;
}

#form #password input[type=password]::-webkit-input-placeholder {
  color: #969595;
}

#form #password input[type=password]:-ms-input-placeholder {
  color: #969595;
}

#form #password input[type=password]::-ms-input-placeholder {
  color: #969595;
}

#form #password input[type=password]::placeholder {
  color: #969595;
}

#form #checkbox {
  width: 80%;
  margin: 30px auto;
}

#form #checkbox label {
  display: inline-block;
  margin-left: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #6b6b6b;
}

#form #checkbox input[type=checkbox] {
  width: 28px;
  height: 18px;
  display: inline-block;
  background-color: white;
}

#form #select {
  width: 80%;
  margin: 30px auto;
}

#form #select label {
  display: inline-block;
  padding-left: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #6b6b6b;
}

#form #select select {
  width: 178px;
  height: 32px;
  background-color: white;
  padding-left: 23px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #6b6b6b;
  border: none;
}

#btn {
  display: block;
  margin: 50px auto;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px #4e4e4e;
          box-shadow: 5px 5px 15px #4e4e4e;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: #048860;
}

#btn:hover {
  background-color: #1bb184;
}
/*# sourceMappingURL=style.css.map */