* {
    margin:0;
    padding:0;
    outline:none;
    box-sizing:border-box;
  
    background:transparent;
  
    text-decoration:none;
    font-family:inherit;
  }

ol, 
ul, 
li {
  display:block;
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a{
  cursor: pointer; 
  color: inherit;
}

textarea{
  resize: none;
}


body {
  background: rgb(96,212,121);
  background: linear-gradient(0deg, rgb(3, 182, 143) 0%, rgba(125,164,241,1) 100%);
}

#root {
  width: 50vw;
  min-width: 400px;
  max-width: 700px;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
}
#form {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  box-shadow: 30px 30px 30px black;
  overflow: hidden;
}




#form #reg {
  width: 100%;
  margin: 0;
  background-color: rgb(54, 54, 54);
  h1{
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: white;
  }
}


#form #file {
  width: 80%;
  margin: 30px auto;

  label{
    margin: 90px auto;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(107, 107, 107);
  }

  input[type=file]{
    width: 180px;
    height: 200px;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-style: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
  }
}




#form #text {
  width: 80%;
  margin: 30px auto;

  label{
    display: none;
  }

  input[type=text]{

    width: 100%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-style: hidden;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: white;
    &:focus {
      box-shadow: 0 0 8px rgb(175, 175, 175);
      &::placeholder {
        color: transparent;
      } 
    }
    &::placeholder { 
      color: rgb(150, 149, 149);
    }
  }
}


#form #email {
  width: 80%;
  margin: 30px auto;

  label{
    display: none;
  }

  input[type=email]{

    width: 100%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-style: hidden;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(88, 88, 88);
    background-color: white;
    &:focus {
      box-shadow: 0 0 8px rgb(179, 178, 178); 
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder { 
      color: rgb(150, 149, 149);
    }
  }
}



#form #password {
  width: 80%;
  margin: 30px auto;

  label{
    display: none;
  }

  input[type=password]{
    margin: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-style: hidden;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(88, 88, 88);
    background-color: white;
    &:focus {
      box-shadow: 0 0 8px rgb(179, 178, 178); 
    }
    &::placeholder { 
      color: rgb(150, 149, 149);
      &::placeholder {
        color: transparent;
      }
    }
  }
}



#form #checkbox {
  width: 80%;
  margin: 30px auto;

  label{
    display: inline-block;
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(107, 107, 107);
  }

  input[type=checkbox]{

    width: 28px;
    height: 18px;
    display: inline-block;
    background-color: white; 
    
  }
}


#form #select {
  width: 80%;
  margin: 30px auto;

  label{
    display: inline-block;
    padding-left: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(107, 107, 107);
  }

  select{

    width: 178px;
    height: 32px;
    background-color: white;
    padding-left: 23px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(107, 107, 107);
    border: none;
  }
}





#btn {
  display: block;
  margin: 50px auto;
  border:none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgb(78, 78, 78);
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: rgb(4, 136, 96);
  &:hover{
    background-color: rgb(27, 177, 132);
  }
}